.tweet
{
display: block;
background: #fff;
clear: both;
padding: .6em;
margin: .3em;
overflow: hidden;
}
.tweet img
{
float: left;
margin-right: 1em;
border: 2px solid #222;
background: #444;
}
.tweet p.text
{
font-size: 80%;
margin: 0;
padding: 0;
padding-left: 50px;
}
.monitter 
{
float: left;
width: 350px;
height: 400px;
margin: 5px;
border: 4px solid #666;
overflow:hidden;
}
